*
{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1
{
    background-color: #081b31;
    color: white;
    padding: 15px;
}
.choice
{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover
{
    cursor: pointer;
    background-color: black;
}
img
{
    height: 185px;
    width: 185px;
    object-fit: cover;
    border-radius: 50%;
}
.choices
{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 100px;
    margin-top: 30px;
}
#user-score , #comp-score
{
    font-size: 52px;
}
.msg-container
{
    margin-top: 20px;
}
#msg
{
    background-color: #081b31;
    color: white;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}